html,
body {
  height: 100%;
}

body,
#root {
  margin: 0;
  display: flex;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-p5-wrapper {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

canvas {
  margin: auto;
  padding: none;
  display: flex;
  position: absolute;
}

#game-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
}

#title-slot {
  display: flex;
  flex-direction: column;
}

.centered-text {
  width: 100%;
  text-align: center;
}

.menu-text {
  font-family: Copperplate, Papyrus, fantasy;
  position: relative;
  color: black;
  line-height: 90%;
  margin: 0;
  margin-top: auto;
}